
/* ======- FOOTER -====== */
footer {
  padding: 0.5rem;
  background-color: #efefef;
  text-align: center;
}

/* footer text */
footer div p{
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer div p i.red{
  color: red;
  size: 24px;
}

/* footer text effects */
footer div p span{
  transition: background-color,color 1500ms ease;
  background-color: black;
  color: white;
}

footer div p span:hover{
  background-color:white ;
  color: black;
}

/* Footer Image Links */
footer a.github {
  -webkit-transition:color 500ms ease;
  -moz-transition:color 500ms ease;
  -o-transition:color 500ms ease;
  transition: color 500ms ease;
  font-size: 3em;
  color: rgb(13,38,54);
  padding: 10px;
  display:inline-block;
  cursor: pointer;
}

footer a.codepen {
  -webkit-transition:color 500ms ease;
  -moz-transition:color 500ms ease;
  -o-transition:color 500ms ease;
  transition: color 500ms ease;
  font-size: 3em;
  color: black;
  padding: 10px;
  display:inline-block;
  cursor: pointer;
}

.copyright span{
  margin-inline: 0.5rem;
}

.copyright{
  padding-bottom: 3rem;
}

/* image links hover effects */
footer a.github:hover {
  color: darkgray;
}

footer a.codepen:hover {
  color: darkgray;
}

/* Resposive Footer */
footer.mobile {
  display:none;
}

@media screen and (max-width: 400px) {
  footer.pc {
      display:none;
  }
  footer.mobile {
      display:block;
  }
  footer.mobile div p {
      font-size: 15px;
  }

}